.delete,	
.modal-close {	
    -moz-appearance: none;	
    -webkit-appearance: none;	
    background-color: rgba(10, 10, 10, .1)	!important;
    border: none;	
    border-radius: 290486px;	
    cursor: pointer;	
    pointer-events: auto;	
    display: inline-block;	
    flex-grow: 0;	
    flex-shrink: 0;	
    font-size: 0;	
    height: 20px;	
    max-height: 20px;	
    max-width: 20px;	
    min-height: 20px;	
    min-width: 20px;	
    outline: 0;	
    position: relative;	
    vertical-align: top;	
    width: 20px	
}

code {

    color: #F3001E !important ;
 
}

.has-text-danger {
    color: #F3001E!important;
}

.has-background-danger {
    background-color: #F3001E!important
}

.button {
    /*background-color: #fff;*/ 
     
  }

  .button.is-text:hover {
    background-color: #f5f5f5 !important;
 
 }

 .button.is-text:active {
    /*   background-color: #e8e8e8;*/
  color: #363636 !important;
}

.button.is-white.is-outlined:hover {
    /*   background-color: #fff;*/
}

.button.is-danger {
    background-color: #F3001E !important;
   
}

fieldset[disabled] .button.is-danger {
    background-color: #F3001E !important;
   
}

.button.is-danger.is-inverted {
    background-color: #fff;
    color: #F3001E !important;
}

.button.is-danger.is-inverted[disabled],
fieldset[disabled] .button.is-danger.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #F3001E !important;
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #F3001E !important;
    color: #F3001E !important;
}

.button.is-danger.is-outlined:hover {
    background-color: #F3001E !important;
    border-color: #F3001E !important;
}

.button.is-danger.is-outlined.is-loading::after {
    border-color: transparent transparent #F3001E #F3001E!important
}
.button.is-danger.is-outlined[disabled],
fieldset[disabled] .button.is-danger.is-outlined {
 
    border-color: #F3001E !important;

    color: #F3001E !important;
}

.button.is-danger.is-inverted.is-outlined:hover {
   
    color: #F3001E !important;
}

.button.is-danger.is-inverted.is-outlined.is-loading:hover::after {
    border-color: transparent transparent #F3001E #F3001E!important
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 860px !important;
    }
}
@media screen and (max-width:1215px) {
    .container.is-widescreen {
        max-width: 860px !important
    }
}
@media screen and (max-width:1407px) {
    .container.is-fullhd {
        max-width: 860px !important
    }
}
@media screen and (min-width:1216px) {
    .container {
        max-width: 860px !important
    }
}
@media screen and (min-width:1408px) {
    .container {
        max-width: 860px !important
    }
}

.notification.is-danger {
    background-color: #F3001E !important;
  
}

progress.is-danger::-webkit-progress-value {
    background-color: #F3001E !important
}
.progress.is-danger::-moz-progress-bar {
    background-color: #F3001E !important
}
.progress.is-danger::-ms-fill {
    background-color: #F3001E !important;
}
.progress.is-danger:indeterminate {
    background-image: linear-gradient(to right, #F3001E 30%, #ededed 30%) !important;
}

.table th.is-danger {
    background-color: #F3001E !important;
    border-color: #F3001E !important;

}

.tag:not(body).is-danger {
    background-color: #F3001E !important;

}

.is-danger.textarea {
    border-color: #F3001E !important;
}

.select.is-danger:not(:hover)::after {
    border-color: #F3001E !important
}
.select.is-danger select {
    border-color: #F3001E !important
}

.file.is-danger .file-cta {
    background-color: #F3001E !important;

}

.help {
    display: none !important;

}

.help.is-danger {
    color: #F3001E !important
}

.message.is-danger .message-header {
    background-color: #F3001E !important;

}
.message.is-danger .message-body {
    border-color: #F3001E !important;
  
}

.modal-close {
    color:black !important;
     float: right !important;
     height: 40px;
    top:-45px !important;
     width: 40px
 }
 .navbar.is-danger {
    background-color: #F3001E !important;

}

@media screen and (min-width:1024px) {
    .navbar.is-danger .navbar-end .navbar-link,
    .navbar.is-danger .navbar-end>.navbar-item,
    .navbar.is-danger .navbar-start .navbar-link,
    .navbar.is-danger .navbar-start>.navbar-item {
        color: #fff
    }
    .navbar.is-danger .navbar-end .navbar-link.is-active,
    .navbar.is-danger .navbar-end .navbar-link:focus,
    .navbar.is-danger .navbar-end .navbar-link:hover,
    .navbar.is-danger .navbar-end>a.navbar-item.is-active,
    .navbar.is-danger .navbar-end>a.navbar-item:focus,
    .navbar.is-danger .navbar-end>a.navbar-item:hover,
    .navbar.is-danger .navbar-start .navbar-link.is-active,
    .navbar.is-danger .navbar-start .navbar-link:focus,
    .navbar.is-danger .navbar-start .navbar-link:hover,
    .navbar.is-danger .navbar-start>a.navbar-item.is-active,
    .navbar.is-danger .navbar-start>a.navbar-item:focus,
    .navbar.is-danger .navbar-start>a.navbar-item:hover {
        background-color: #ef2e55;
        color: #fff
    }
    .navbar.is-danger .navbar-end .navbar-link::after,
    .navbar.is-danger .navbar-start .navbar-link::after {
        border-color: #fff
    }
    .navbar.is-danger .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar.is-danger .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-danger .navbar-item.has-dropdown:hover .navbar-link {
        background-color: #ef2e55;
        color: #fff
    }
    .navbar.is-danger .navbar-dropdown a.navbar-item.is-active {
        background-color: #F3001E !important;
        color: #fff
    }
}

@media screen and (max-width:325px) {
    .navbar>.container {
        display: block
    }
    .navbar-brand .navbar-item,
    .navbar-tabs .navbar-item {
        align-items: center;
        display: flex
    }
    .navbar-link::after {
        display: none
    }
    .navbar-menu {
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
        padding: .5rem 0
    }
    .navbar-menu.is-active {
        display: block
    }
    .navbar.is-fixed-bottom-touch,
    .navbar.is-fixed-top-touch {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30
    }
    .navbar.is-fixed-bottom-touch {
        bottom: 0
    }
    .navbar.is-fixed-bottom-touch.has-shadow {
        box-shadow: 0 -2px 3px rgba(10, 10, 10, .1)
    }
    .navbar.is-fixed-top-touch {
        top: 0
    }
    .navbar.is-fixed-top .navbar-menu,
    .navbar.is-fixed-top-touch .navbar-menu {
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 3.25rem);
        overflow: auto
    }
    body.has-navbar-fixed-top-touch,
    html.has-navbar-fixed-top-touch {
        padding-top: 3.25rem
    }
    body.has-navbar-fixed-bottom-touch,
    html.has-navbar-fixed-bottom-touch {
        padding-bottom: 3.25rem
    }
}

@media screen and (min-width:325px) {
    .navbar,
    .navbar-end,
    .navbar-menu,
    .navbar-start {
        align-items: stretch;
        display: flex
    }
    .navbar {
        min-height: 3.25rem
    }
    .navbar.is-spaced {
        padding: 1rem 2rem
    }
    .navbar.is-spaced .navbar-end,
    .navbar.is-spaced .navbar-start {
        align-items: center
    }
    .navbar.is-spaced .navbar-link,
    .navbar.is-spaced a.navbar-item {
        border-radius: 4px
    }
    .navbar.is-transparent .navbar-link.is-active,
    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent a.navbar-item:focus,
    .navbar.is-transparent a.navbar-item:hover {
        background-color: transparent!important
    }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
        background-color: transparent!important
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:focus,
    .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
        background-color: #f5f5f5;
        color: #0a0a0a
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
        background-color: #f5f5f5;
        color: #3273dc
    }
    .navbar-burger {
        display: none
    }
    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex
    }
    .navbar-item {
        display: flex
    }
    .navbar-item.has-dropdown {
        align-items: stretch
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
        transform: rotate(135deg) translate(.25em, -.25em)
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
        border-bottom: 2px solid #dbdbdb;
        border-radius: 6px 6px 0 0;
        border-top: none;
        bottom: 100%;
        box-shadow: 0 -8px 8px rgba(10, 10, 10, .1);
        top: auto
    }
    .navbar-item.is-active .navbar-dropdown,
    .navbar-item.is-hoverable:focus .navbar-dropdown,
    .navbar-item.is-hoverable:focus-within .navbar-dropdown,
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block
    }
    .navbar-item.is-active .navbar-dropdown.is-boxed,
    .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,
    .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,
    .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed,
    .navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
    .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,
    .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,
    .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0)
    }
    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0
    }
    .navbar-start {
        justify-content: flex-start;
        margin-right: auto
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto
    }
    .navbar-dropdown {
        background-color: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
        display: none;
        font-size: .875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20
    }
    .navbar-dropdown .navbar-item {
        padding: .375rem 1rem;
        white-space: nowrap
    }
    .navbar-dropdown a.navbar-item {
        padding-right: 3rem
    }
    .navbar-dropdown a.navbar-item:focus,
    .navbar-dropdown a.navbar-item:hover {
        background-color: #f5f5f5;
        color: #0a0a0a
    }
    .navbar-dropdown a.navbar-item.is-active {
        background-color: #f5f5f5;
        color: #3273dc
    }
    .navbar-dropdown.is-boxed,
    .navbar.is-spaced .navbar-dropdown {
        border-radius: 6px;
        border-top: none;
        box-shadow: 0 8px 8px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
        display: block;
        opacity: 0;
        pointer-events: none;
        top: calc(100% + (-4px));
        transform: translateY(-5px);
        transition-duration: 86ms;
        transition-property: opacity, transform
    }
    .navbar-dropdown.is-right {
        left: auto;
        right: 0
    }
    .navbar-divider {
        display: block
    }
    .container>.navbar .navbar-brand,
    .navbar>.container .navbar-brand {
        margin-left: -.75rem
    }
    .container>.navbar .navbar-menu,
    .navbar>.container .navbar-menu {
        margin-right: -.75rem
    }
    .navbar.is-fixed-bottom-desktop,
    .navbar.is-fixed-top-desktop {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30
    }
    .navbar.is-fixed-bottom-desktop {
        bottom: 0
    }
    .navbar.is-fixed-bottom-desktop.has-shadow {
        box-shadow: 0 -2px 3px rgba(10, 10, 10, .1)
    }
    .navbar.is-fixed-top-desktop {
        top: 0
    }
    body.has-navbar-fixed-top-desktop,
    html.has-navbar-fixed-top-desktop {
        padding-top: 3.25rem
    }
    body.has-navbar-fixed-bottom-desktop,
    html.has-navbar-fixed-bottom-desktop {
        padding-bottom: 3.25rem
    }
    body.has-spaced-navbar-fixed-top,
    html.has-spaced-navbar-fixed-top {
        padding-top: 5.25rem
    }
    body.has-spaced-navbar-fixed-bottom,
    html.has-spaced-navbar-fixed-bottom {
        padding-bottom: 5.25rem
    }
    .navbar-link.is-active,
    a.navbar-item.is-active {
        color: #0a0a0a
    }
    .navbar-link.is-active:not(:focus):not(:hover),
    a.navbar-item.is-active:not(:focus):not(:hover) {
        background-color: transparent
    }
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
        background-color: #fafafa
    }
}

.panel.is-danger .panel-heading {
    background-color: #F3001E !important;
    color: #fff
}
.panel.is-danger .panel-tabs a.is-active {
    border-bottom-color: #F3001E !important;
}
.panel.is-danger .panel-block.is-active .panel-icon {
    color: #F3001E !important;
}
.hero.is-danger {
    background-color: #F3001E !important;
    color: #fff
}

@media screen and (max-width:1023px) {
    .hero.is-danger .navbar-menu {
        background-color: #F3001E !important;
    }
}

.hero.is-danger .tabs.is-toggle li.is-active a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #F3001E !important;
}

.hero.is-danger.is-bold {
    background-image: linear-gradient(141deg, #fa0a62 0, #F3001E 71%, #f7595f 100%) !important;
}
@media screen and (max-width:768px ) {
    .hero.is-danger.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #fa0a62 0, #F3001E 71%, #f7595f 100%) !important;
    }
}

@media screen and (min-width:768px) {
    .spacerDesk {
        margin-top: 50px;
     }
    }
    @media screen and (max-width:768px) {
        .spacerMobile {
            padding-bottom: 0px;
            padding-top:0px;
         }
         .topspacerMobile{
         padding-top:0px;
        }
    }

    .footer {
        background-color: #fafafa;
        padding: 3rem 1.5rem 6rem
    }
    @font-face {
        font-family: 'Archia Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Archia Regular'), url('Archia-Regular.woff') format('woff');
        }
        .funkyUnderlineBlue {
             cursor: pointer;
            box-shadow:  0 10px 0 0 rgba(50,153,221,0), inset 0 -0.125em rgba(50,153,221,.2);
                  color:#3299DD;
        }
     
        #element-toggle {
            display: none;
          }
          #element-toggle:checked ~ #myModal {
            display: flex;
          }
          #ContactUsModal {
            display: none;
          }
          #ContactUsModal:checked ~ #contactUs {
            display: flex;
          }
    .hideWidget a {
    display: none !important;
    }
    .TechShedFromeBrandText {
        text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
        text-transform: capitalize;
    }
    html {
        scroll-behavior: smooth;
      }